<section class="hero" id="hero">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div id="myCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://github.com/dua123/dua123-Angular_with_python/front_end/blog/src/assets/images/gallery/Duarte_Morais.png?raw=true" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
                
            </div>

        </div>
        
    </div>
</section>