<header>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <div class="navbar-collapse" id="navbarExample01">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item active">
                <a class="nav-link" routerLink="" routerLinkActive="active">Inicio</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="about" routerLinkActive="active">Sobre</a>
            </li>

            <li class="nav-item">
                <a routerLink="pilates" routerLinkActive="active"  class="nav-item nav-link">Pilates</a>
            </li>

            <li class="nav-item">
                <a routerLink="studio" routerLinkActive="active"  class="nav-item nav-link">Estudios</a>
            </li>
            <li class="nav-item">
                <a routerLink="public" routerLinkActive="active"  class="nav-item nav-link">Publico</a>
            </li>
            <li class="nav-item">
                <a routerLink="blog" routerLinkActive="active"  class="nav-item nav-link">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="contact" routerLinkActive="active" >Contactos</a>
            </li>
          </ul>
        </div>
      
      </div>
    </nav>
    <!-- Navbar -->
  
